[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
	shallow = true
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy
	shallow = true
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
	shallow = true
